singularity {
    enabled = true
    autoMounts = true
}

conda.enabled = false
docker.enabled = false
podman.enabled = false
shifter.enabled = false
charliecloud.enabled = false
apptainer.enabled = false

params {
    read_length = 150
    macs_gsize = 2913022398
}

process {
    executor = 'slurm'
    cpus = 4
    memory = 8.GB
    resourceLimits = [
        cpus: 16,
        memory: 48.GB,
        time: 24.h
    ]
    clusterOptions = '--mail-type=BEGIN,END,FAIL --mail-user=zyyu@umich.edu'
}

notification {
    enabled = true
    to = 'zyyu@umich.edu'
}
